{% extends 'form_creator_app/base.html' %}
{% load static %}

{% block extra-links %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'form_creator_app/css/data.css' %}">
{% endblock %}

{% block content %}
  <div class="data-container">
    {% if object_list %}
      {% for entry in object_list %}
        <div class="data-container__item">
          <div class="data-container__item-header">{{ entry.uid }}</div>
          {% for k, v in entry.data.items %}
            <div class="data-container__item-values">
              <div class="data-container__item-key">{{ k }}</div>
              <div class="data-container__item-value">{{ v }}</div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      Nothing to see here yet.
    {% endif %}
  </div>
{% endblock %}