{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Creator App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'form_creator_app/css/home.css' %}">
</head>
<body>
  <a href="{% url 'form-creator-app:form-creator' %}" class="btn anchor-btn">Create Form</a>
  <p class="spacing-text">or find submitted data</p>
  <form method="post" class="search">
    {% csrf_token %}
    <div class="search__bar">
      <label for="form-uid-input">Form UID</label>
      <input id="form-uid-input" class="search__input" type="text"
             name="form_uid" placeholder="Form UID" />
      <input class="search__submit btn fa" type="Submit" value="&#xf002" />
    </div>
  </form>
</body>
</html>