@import "reset.css";

:root {
    --accent-color: #318ce7;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1;
    font-size: 1.2rem;
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
}

header {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: white;
}

.fa-home {
    display: inline-block;
    color: var(--accent-color);
    font-size: 2em;
}

#content {
    width: 30vw;
    position: relative;
    top: 10vh;
    padding: 2% 0;
}

input {
    border: 1px solid grey;
}

input,
select {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    outline: none;
    text-align: center;
}

input:focus,
select:focus {
    border-color: var(--accent-color);
}

select {
    line-height: inherit;
    font-size: inherit;
}

option {
    text-align: center;
}

.form-creator__field-item {
    margin-bottom: 8%;
}


.btn {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    text-decoration: none;
    appearance: none;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.rounded {
    border-radius: 100px;
}

@media only screen and (max-width: 400px) {
    #content {
        width: 85vw;
    }
}
