@import "base.css";

#content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label[for="form-uid-input"] {
  display: none;
}

.anchor-btn {
  border-radius: 100px;
  padding: 3% 16%;
  text-decoration: none;
}

.spacing-text {
  margin: 3% 0;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search__bar {
  display: flex;
  width: 100%;
}

.search__input {
  width: 90%;
  outline: none;
  border: 1px solid grey;
  border-radius: 100px 0 0 100px;
  padding: 2% 5%;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}

.search__input:focus {
  outline: 1px inset #318ce7;
}

.search__submit {
  height: 100%;
  aspect-ratio: 1/1;
  appearance: none;
  border: none;
  border-radius: 0 100px 100px 0;
}

.btn {
  background-color: #318ce7;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
